In [1]:
from zoo import hours

hours()

Open 9-5 daily

In [2]:
import zoo as managerie

hours()

Open 9-5 daily

In [3]:
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()
curs.execute('''CREATE TABLE books
    (title VARCHAR(80) PRIMARY KEY,
     author VARCHAR(80),
    year INT)''')

ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'
curs.execute(ins, ('Lord of the Rings', 'Tolkien', 1954))
curs.execute(ins, ('The Hobbit', 'Tolkien', 1937))

curs.execute('SELECT title FROM books')
rows = curs.fetchall()
print(rows)

[('Lord of the Rings',), ('The Hobbit',)]

In [4]:
import sqlalchemy as sa
import sqlite3
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')
connection = engine.raw_connection()
cursor = connection.cursor()


cursor.execute('SELECT title FROM books')
rows = cursor.fetchall()
print(rows)

[]